<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.summer.whm.mapper.chats.ChatsTopicMessageMapper">

	<select id="queryByTopicId" parameterType="PageModel" resultType="ChatsTopicMessage">
		select
		ctm.id,
		ctm.topicId,
		ctm.username,
		ctm.content,
		ctm.creator,
		ctm.createTime,
		ctm.lastUpdate,
		su.nickname
		from chats_topic_message ctm
		left join sys_user su on su.username = ctm.username
		where ctm.topicId = #{topicId}
		order by ctm.id desc
	</select>

	<select id="list" parameterType="PageModel" resultType="ChatsTopicMessage">
		select
		ctm.id,
		ctm.topicId,
		ctm.username,
		ctm.content,
		ctm.creator,
		ctm.createTime,
		ctm.lastUpdate,
		su.nickname
		from chats_topic_message ctm
		left join sys_user su on su.username = ctm.username
	</select>

	<select id="count" resultType="long">
		select count(*) from
		chats_topic_message
	</select>

	<insert id="insert" parameterType="ChatsTopicMessage">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into chats_topic_message(
		topicId,
		username,
		content,
		creator,
		createTime,
		lastUpdate
		)
		values(#{topicId},#{username},#{content},#{creator},#{createTime},#{lastUpdate})
	</insert>

	<delete id="deleteById">
		delete from chats_topic_message where id = #{id}
	</delete>

</mapper>