<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.summer.whm.mapper.sys.NoticeMapper">
	<select id="loadById" parameterType="java.lang.String"
		resultType="Notice">
		select 
		id,
		siteId as siteId,
		title,
		content,
		userId,
		username,
		creator,
		createTime,
		lastUpdate 
		from sys_notice where id =
		#{id}
	</select>

	<select id="list" parameterType="PageModel" resultType="Notice">
		select
		id,
		siteId as siteId,
		title,
		content,
		userId,
		username,
		creator,
		createTime,
		lastUpdate 
		from sys_notice
	</select>

	<select id="count" resultType="long">
		select count(*) from sys_notice
	</select>

	<insert id="insert" parameterType="Notice">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into sys_notice(
		siteId,
		title,
		content,
		userId,
		username,
		creator,
		createTime,
		lastUpdate )
		values(#{siteId},
		#{title},
		#{content},
		#{userId},
		#{username},
		#{creator},
		#{createTime},
		#{lastUpdate})
	</insert>

	<update id="update" parameterType="Notice">
		update sys_notice set
		id=#{id}
		<if test="siteId!=null and siteId!=''">
			,siteId=#{siteId}
		</if>
		<if test="title!=null and title!=''">
			,title=#{title}
		</if>
		<if test="content!=null and content!=''">
			,content=#{content}
		</if>
		<if test="userId!=null and userId!=''">
			,userId=#{userId}
		</if>
		<if test="username!=null and username!=''">
			,username=#{username}
		</if>
		<if test="lastUpdate!=null and lastUpdate!=''">
			,lastUpdate=#{lastUpdate}
		</if>
		where id=#{id}
	</update>

	<delete id="deleteById">
		delete from sys_notice where id = #{id}
	</delete>

	<select id="queryBySite" resultType="Notice">
		select
		id,
		siteId,
		title,
		content,
		userId,
		username,
		creator,
		createTime,
		lastUpdate 
		from sys_notice where siteId = #{siteId}
		order by id desc
	</select>

</mapper>