<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.summer.whm.mapper.spider.SpiderStoryJobMapper">

	<select id="loadById" parameterType="java.lang.String"
		resultType="SpiderStoryJob">
		select
		id,
		templateId,
		storyId,
		categoryId,
		userId,
		username,
		name,
		url,
		title,
		status,
		qtRule,
		creator,
		createTime,
		lastUpdate
		from
		spider_story_job where id =
		#{id}
	</select>

	<select id="list" parameterType="PageModel" resultType="SpiderStoryJob">
		select
		id,
		templateId,
		storyId,
		categoryId,
		userId,
		username,
		name,
		url,
		title,
		status,
		qtRule,
		creator,
		createTime,
		lastUpdate
		from spider_story_job
	</select>

	<select id="count" resultType="long">
		select count(*) from
		spider_story_job
	</select>

	<insert id="insert" parameterType="SpiderStoryJob">
	
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into spider_story_job(
		templateId,
		storyId,
		categoryId,
		userId,
		username,
		name,
		url,
		title,
		status,
		qtRule,
		creator,
		createTime,
		lastUpdate
		)
		values(#{templateId},#{storyId},#{categoryId},#{userId},#{username},#{name},#{url},#{title},#{status},#{qtRule},#{creator},#{createTime},#{lastUpdate})
	</insert>

	<update id="update" parameterType="SpiderStoryJob">
		update spider_story_job set
		id=#{id}
		<if test="templateId!=null and templateId!=''">
			,templateId=#{templateId}
		</if>
		<if test="storyId!=null and storyId!=''">
			,storyId=#{storyId}
		</if>
		<if test="name!=null and name!=''">
			,name=#{name}
		</if>
		<if test="url!=null and url!=''">
			,url=#{url}
		</if>
		<if test="title!=null and title!=''">
			,title=#{title}
		</if>
		<if test="status!=null and status!=''">
			,status=#{status}
		</if>
		<if test="qtRule!=null and qtRule!=''">
			,qtRule=#{qtRule}
		</if>
		<if test="lastUpdate!=null and lastUpdate!=''">
			,lastUpdate=#{lastUpdate}
		</if>

		where id=#{id}
	</update>

	<delete id="deleteById">
		delete from spider_story_job where id = #{id}
	</delete>

</mapper>