<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.summer.whm.mapper.story.StoryInfoMapper">
	<select id="loadById" parameterType="java.lang.String"
		resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.author,
		si.outline,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where si.id = #{id}
	</select>

	<select id="list" parameterType="PageModel" resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where 1=1
		<if test="query.categoryId!=null and query.categoryId!=''">
			and categoryId=#{query.categoryId}
		</if>
		order by sortIndex desc, id desc
	</select>

	<select id="count" resultType="long">
		select count(*) from story_info
		<if test="categoryId!=null and categoryId!=''">
			,categoryId=#{categoryId}
		</if>
	</select>

	<insert id="insert" parameterType="StoryInfo">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into story_info(
		
		categoryId,
		categoryName,
		title,
		author,
		status,
		picPath,
		outline,
		lastDetailId,
		lastDetailTitle,
		tagName,
		likeCount,
		readCount,
		replyCount,
		sortIndex,
		remark,
		crawlUrl,
		lastUpdateDetail,
		creator,
		createTime,
		lastUpdate,
		keywords,
		description
		
		)
		values(#{categoryId},
		#{categoryName},
		#{title},
		#{author},
		#{status},
		#{picPath},
		
		#{outline},
		#{lastDetailId},
		#{lastDetailTitle},
		#{tagName},
		#{likeCount},
		#{readCount},
		#{replyCount},
		#{sortIndex},
		#{remark},
		#{crawlUrl},
		#{lastUpdateDetail},
		#{creator},
		#{createTime},
		#{lastUpdate},
		#{keywords},
		#{description}
		)
	</insert>

	<update id="update" parameterType="StoryInfo">
		update story_info set
		id=#{id}
		<if test="categoryId!=null and categoryId!=''">
			,categoryId=#{categoryId}
		</if>
		<if test="categoryName!=null and categoryName!=''">
			,categoryName=#{categoryName}
		</if>
		<if test="title!=null and title!=''">
			,title=#{title}
		</if>
		<if test="author!=null and author!=''">
			,author=#{author}
		</if>
		<if test="status!=null and status!=''">
			,status=#{status}
		</if>
		<if test="picPath!=null and picPath!=''">
			,picPath=#{picPath}
		</if>
		
		<if test="outline!=null and outline!=''">
			,outline=#{outline}
		</if>
		<if test="lastDetailId!=null and lastDetailId!=''">
			,lastDetailId=#{lastDetailId}
		</if>
		<if test="lastDetailTitle!=null and lastDetailTitle!=''">
			,lastDetailTitle=#{lastDetailTitle}
		</if>
		<if test="tagName!=null and tagName!=''">
			,tagName=#{tagName}
		</if>
		<if test="likeCount!=null and likeCount!=''">
			,likeCount=#{likeCount}
		</if>
		<if test="readCount!=null and readCount!=''">
			,readCount=#{readCount}
		</if>
		<if test="replyCount!=null and replyCount!=''">
			,replyCount=#{replyCount}
		</if>
		<if test="sortIndex!=null and sortIndex!=''">
			,sortIndex=#{sortIndex}
		</if>
		<if test="remark!=null and remark!=''">
			,remark=#{remark}
		</if>
		<if test="crawlUrl!=null and crawlUrl!=''">
			,crawlUrl=#{crawlUrl}
		</if>
		<if test="lastUpdate!=null and lastUpdate!=''">
			,lastUpdate=#{lastUpdate}
		</if>
		<if test="keywords!=null and keywords!=''">
			,keywords=#{keywords}
		</if>
		<if test="description!=null and description!=''">
			,description=#{description}
		</if>
		<if test="lastUpdateDetail!=null and lastUpdateDetail!=''">
			,lastUpdateDetail=#{lastUpdateDetail}
		</if>
		where id=#{id}
	</update>

	<delete id="deleteById">
		delete from story_info where id = #{id}
	</delete>
	
	<select id="queryStoryInfoOrderCreateTimeTop" resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and si.categoryId = #{categoryId}
		</if>
		order by si.createTime desc
		LIMIT #{topN}
	</select>
	
	<select id="queryStoryInfoOrderlastUpdateTop" resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and si.categoryId = #{categoryId}
		</if>
		order by si.lastUpdate desc
		LIMIT #{topN}
	</select>
	
	<select id="queryStoryInfoOrderSortIndexTop" resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and si.categoryId = #{categoryId}
		</if>
		order by si.sortIndex desc, si.readCount desc
		LIMIT #{topN}
	</select>
	
	<select id="queryTopReply" resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and si.categoryId = #{categoryId}
		</if>
		order by si.replyCount desc
		LIMIT #{topN}
	</select>
	
	<select id="queryTopHot" resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and si.categoryId = #{categoryId}
		</if>
		order by si.readCount desc
		LIMIT #{topN}
	</select>
	
	<select id="queryTopLike" resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and si.categoryId = #{categoryId}
		</if>
		order by si.likeCount desc
		LIMIT #{topN}
	</select>
	
	<select id="queryTopNByHot" resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.outline,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where 1=1
		<if test="categoryId!=null and categoryId!=''">
			and categoryId=#{categoryId}
		</if>
		order by sortIndex desc, id desc
		LIMIT #{topN}
	</select>
		
	<update id="addLike">
		update story_info set
		likeCount = likeCount + 1
		where id=#{id}
	</update>
	
	<update id="addRead">
		update story_info set
		readCount = readCount + 1
		where id=#{id}
	</update>
	
	<update id="addReply">
		update story_info set
		replyCount = replyCount + 1
		where id=#{id}
	</update>
	
	<select id="queryIdByCount"  resultType="Integer">
		select id from story_info  order by id desc LIMIT #{count}
	</select>
	
	
	<select id="queryLatestTopN"  resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		order by si.id desc
		LIMIT #{topN}
	</select>
	
	<select id="queryByTitleAndAuthor"  resultType="StoryInfo">
		select
		si.id,
		si.categoryId,
		si.categoryName,
		si.title,
		si.outline,
		si.author,
		si.status,
		si.picPath,
		si.lastDetailId,
		si.lastDetailTitle,
		si.tagName,
		si.likeCount,
		si.readCount,
		si.replyCount,
		si.sortIndex,
		si.remark,
		si.crawlUrl,
		si.lastUpdateDetail,
		si.creator,
		si.createTime,
		si.lastUpdate
		from story_info si
		where si.title = #{title} and si.author = #{author}
	</select>
</mapper>